.playback {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;

  .audio {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .video {
    align-self: center;
    width: 100%;

    video {
      width: 100%;
      object-fit: scale-down;
    }
  }
}
